# настройки приложения
APP_API_KEY=
LOGS_LEVEL=DEBUG

# настройки шлюза
GATEWAY_URL=http://192.168.22.181/evmias-gateway/
GATEWAY_REQUEST_ENDPOINT=gateway/request
GATEWAY_API_KEY=
GATEWAY_SESSION_ID=arm-medical-statistic
REQUEST_TIMEOUT=60.0

